<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CustomerInfo</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<main>
		
		<div th:if="${errors}">
			<div th:each="error:${errors}" style="color:red">
				[[${error}]]
			</div>
			<br>
		</div>
		
		<form action="/register" method="post">
			<table border="1">
				<tr>
					<th>名前</th>
					<td>
						<input type="text" name="name" th:value="${name}">
					</td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td>
						<input type="text" name="email" th:value="${email}">
					</td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td>
						<input type="text" name="password">
					</td>
				</tr>
				<tr>
					<th>パスワード確認</th>
					<td>
						<input type="text" name="passwordConfirm">
					</td>
				</tr>
			</table>
			<button>登録</button>
		</form>
		
		<a href="/login">ログイン画面へ戻る</a>
	</main>
</body>
</html>