<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>カレンダー表示</title>
	<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet">
	<style>
		#calendar {
			max-width: 900px;
			margin: 40px auto;
		}
	</style>
	
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div id="layout01">
		
		<a th:href="@{/calendar(showAll=true)}">全項目</a>
		<br>
		<br>
		収入
		<br>
		
		<div th:each="genre:${genres_income}">
		<a th:href="@{/calendar(showAll=false, genreId=${genre.id})}" 
		   th:text="${genre.genreName}"
		   style="margin-right: 5px;"></a>
		  
		</div>

		<br>
		支出
		<br>
		
		<div th:each="genre:${genres_outcome}">
			<a th:href="@{/calendar(showAll=false, genreId=${genre.id})}" 
			   th:text="${genre.genreName}"
			   style="margin-right: 5px;"></a>
		</div>
				   
	   <br>
	   
	   <input type="checkbox" id="popup_addGenre" class="popup-toggle">
	   <label class="popup-open" for="popup_addGenre">ジャンルを追加する</label>
	   <div class="popup-overlay">
	       <div class="popup-window">
	           <p class="popup-text">
				
				<form action="/calendar" method="get">
								<table border="1">
									<tr>
										<th>名前</th>
										<td>
											<input type="text" name="addGenre_name">
										</td>
									</tr>
									<tr>
										<th>収入ですか？</th>
										<td>
											<input type="checkbox" name="addGenre_isIncome">
										</td>
									</tr>
									<tr>
										<th>色</th>
										<td>
											<input type="color" name="addGenre_color">
										</td>
									</tr>
								</table>
								<button>追加</button>
							</form>
				
				</p>
	           <label class="popup-close" for="popup_addGenre">
	               <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
	                   <line x1="0" y1="0" x2="18" y2="18" stroke="white" stroke-width="3"></line>
	                   <line x1="0" y1="18" x2="18" y2="0" stroke="white" stroke-width="3"></line>
	               </svg>
	           </label>
	       </div>
	   </div>
	   
	   <br>
	   <br>
	   
		<a href="/logout">ログアウト</a>
		
	</div>
	<div id="layout02">
		
		<div id="calendar"></div>
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.15/locales-all.global.min.js"></script>

		<script th:inline="javascript">
			document.addEventListener('DOMContentLoaded', function () {
				var calendarEl = document.getElementById('calendar');
				var eventData = /*[[${calendarEvents}]]*/[];
				
				var currentMonthDate = null;

				var calendar = new FullCalendar.Calendar(calendarEl, {
					initialView: 'dayGridMonth',
					initialDate: /*[[${initialDate}]]*/'',
					locale: 'ja',
					events: eventData,
					
					customButtons: {
					    customPrev: {
					      text: '前月',
					      click: function() {
							var date =  new Date(/*[[${showingDate}]]*/'');
							date.setDate(1);
							date.setMonth(date.getMonth() - 1);
							data = new Intl.DateTimeFormat('ja-JP', {
												    year: 'numeric',
												    month: '2-digit',
												    day: '2-digit'
												  }).format(date).replace(/\//g, '-');
					        window.location.href = '/calendar?showingDate=' + data;
					      }
					    },
					    customNext: {
					      text: '次月',
						  click: function() {
	  						var date =  new Date(/*[[${showingDate}]]*/'');
	  						date.setDate(1);
	  						date.setMonth(date.getMonth() + 1);
	  						data = new Intl.DateTimeFormat('ja-JP', {
	  											    year: 'numeric',
	  											    month: '2-digit',
	  											    day: '2-digit'
	  											  }).format(date).replace(/\//g, '-');
	  				        window.location.href = '/calendar?showingDate=' + data;
	  				      }
					    }
					  },
					  headerToolbar: {
					    right: 'customPrev,customNext',
					    center: 'title',
						left:''
					  },
					
					eventClick: function(info) {
					               // Java側から渡した "id" を取得
					               const eventId = info.event.id;
					               // IDをパラメータに付けてJava側へ画面遷移
					               window.location.href = '/calendar?selectedDate=' + info.event.startStr + '&id=' + eventId;
					},
					
				   	dateClick: function(info) {
	   					          window.location.href = '/calendar?selectedDate=' + info.dateStr ;
					},
								  
					});
				calendar.render();
			});
			
			var yearMonth = $("#fc-dom-1").text(); 
			alert(yearMonth);
		</script>
		
		
	</div>
	
	<div id="layout03">
		<div>[[${selectedDate}]]</div>
		
		<br>
		
		<div th:if="${selectedItem}">
			[[${selectedItem.itemName}]]
			<br>
			[[${selectedItem.price}]]
			<br>
			[[${selectedItem.genre.genreName}]]
			<br>
			[[${selectedItem.comment}]]
			
		</div>	
	</div>
	
	<div id="layout04">
		[[${targetMonth}]]月の収支：[[${allIncomeAndExpensesInThisMonth}]]
	</div>
	
	<div id="layout05">
		ジャンル追加
		
	</div>
	
	<div id="layout06" th:if="${selectedGenre !=null}">
			ジャンル編集/削除
			<form action="/calendar" method="get">
				<table border="1">
					<tr>
						<th>名前</th>
						<td>
							<input type="text" name="editGenre_name" th:value="${selectedGenre.genreName}">
						</td>
					</tr>
					<tr>
						<th>収入ですか？</th>
						<td>
							<input type="checkbox" name="editGenre_isIncome" th:checked="${selectedGenre.isIncome}">
						</td>
					</tr>
					<tr>
						<th>色</th>
						<td>
							<input type="color" name="editGenre_color" th:value="${selectedGenre.getColorHex().substring(0, 7)}">
						</td>
					</tr>
				</table>
				<input type="hidden" name="editGenre_id" th:value="${selectedGenre.id}">
				<button>変更</button>
			</form>
			
			<br>
				
			<a th:href="@{/calendar(deleteGenre_id=${selectedGenre.id})}">このジャンルを削除</a>
	</div>
		
		
		<input type="checkbox" id="popup"  class="popup-toggle" th:if="${selectedDate !=null}">
				<label class="popup-open" for="popup">項目を追加する</label>
				<div class="popup-overlay">
				    <div class="popup-window">
				        <p class="popup-text">
							
							
							<form action="/calendar" method="get">
													<table border="1">
														<tr>
															<th>日付</th>
															<td>
																[[${selectedDate}]]
															</td>
														</tr>
														<tr>
															<th>名前</th>
															<td>
																<input type="text" name="addItem_name">
															</td>
														</tr>
														<tr>
															<th>ジャンル</th>
															<td>
																<select name = "addItem_genreId">
																	<option th:each="genre:${genres}" th:value="${genre.id}">[[${genre.genreName}]]</option>
																</select>
															</td>
														</tr>
														<tr>
															<th>値段</th>
															<td>
																<input type="number" name="addItem_price">
															</td>
														</tr>
														<tr>
															<th>コメント</th>
															<td>
																<textarea name="addItem_comment"></textarea>
															</td>
														</tr>
													</table>
													<input type="hidden" name="addItem_addDate" th:value="${selectedDate}">
													
													<button>追加</button>
												</form>
						
							
						</p>
				        <label class="popup-close" for="popup">
				            <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
				                <line x1="0" y1="0" x2="18" y2="18" stroke="white" stroke-width="3"></line>
				                <line x1="0" y1="18" x2="18" y2="0" stroke="white" stroke-width="3"></line>
				            </svg>
				        </label>
				    </div>
				</div>
		
			
	<div id="layout08" th:if="${selectedItem !=null}">
			項目更新
			<form action="/calendar" method="get">
					<table border="1">
						<tr>
							<th>日付</th>
							<td>
								<input type="date" name="editItem_addDate" th:value="${selectedItem.addDate}">
							</td>
						</tr>
						<tr>
							<th>名前</th>
							<td>
								<input type="text" name="editItem_name" th:value="${selectedItem.itemName}">
							</td>
						</tr>
						<tr>
							<th>ジャンル</th>
							<td>
								<select name = "editItem_genreId">
									<option th:each="genre:${genres}" th:value="${genre.id}"  th:selected="${genre.id} == ${selectedItem.genre.id}">[[${genre.genreName}]]</option>
								</select>
							</td>
						</tr>
						<tr>
							<th>値段</th>
							<td>
								<input type="number" name="editItem_price" th:value="${selectedItem.price}">
							</td>
						</tr>
						<tr>
							<th>コメント</th>
							<td>
								<textarea name="editItem_comment" th:text="${selectedItem.comment}"></textarea>
							</td>
						</tr>
					</table>
					<input type="hidden" name="editItem_id" th:value="${selectedItem.id}">
					<button>更新</button>
				</form>
				
				<a th:href="@{/calendar(deleteItem_id=${selectedItem.id})}">この項目を削除</a>
	</div>
</body>

</html>
