<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>カレンダー表示</title>
	<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet">
	<style>
		#calendar {
			max-width: 900px;
			margin: 40px auto;
		}
	</style>
	
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div id="layout01">
		
		<a th:href="@{/calendar(showAll=true, showingDate=${showingDate})}">全項目</a>
		
		<br>
		収入
		<br>
		<a href="/calendar?isIncome=true">全ての収入</a>
		<br>
		
		<div th:each="genre:${genres_income}">
		<a th:href="@{/calendar(showAll=false, genreId=${genre.id}, showingDate=${showingDate})}" 
		   th:text="${genre.genreName}"
		   style="margin-right: 5px;"></a>
		</div>

		<br>
		支出
		<br>
		<a href="/calendar?isIncome=false">全ての支出</a>
		<br>
		
		<div th:each="genre:${genres_outcome}">
			<a th:href="@{/calendar(showAll=false, genreId=${genre.id}, showingDate=${showingDate})}" 
			   th:text="${genre.genreName}"
			   style="margin-right: 5px;"></a>
		</div>
				   
	   <br>	   
		   
		<a href="/logout">ログアウト</a>
		
		
	</div>
	<div id="layout02">
		
		<div id="calendar"></div>
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.15/locales-all.global.min.js"></script>

		<script th:inline="javascript">
			document.addEventListener('DOMContentLoaded', function () {
				var calendarEl = document.getElementById('calendar');
				var eventData = /*[[${calendarEvents}]]*/[];
				
				var currentMonthDate = null;

				var calendar = new FullCalendar.Calendar(calendarEl, {
					initialView: 'dayGridMonth',
					initialDate: /*[[${initialDate}]]*/'',
					locale: 'ja',
					events: eventData,
					
					customButtons: {
					    customPrev: {
					      text: '前月',
					      click: function() {
							var date =  new Date(/*[[${showingDate}]]*/'');
							date.setDate(1);
							date.setMonth(date.getMonth() - 1);
							data = new Intl.DateTimeFormat('ja-JP', {
												    year: 'numeric',
												    month: '2-digit',
												    day: '2-digit'
												  }).format(date).replace(/\//g, '-');
					        window.location.href = '/calendar?showingDate=' + data;
					      }
					    },
					    customNext: {
					      text: '次月',
						  click: function() {
	  						var date =  new Date(/*[[${showingDate}]]*/'');
	  						date.setDate(1);
	  						date.setMonth(date.getMonth() + 1);
	  						data = new Intl.DateTimeFormat('ja-JP', {
	  											    year: 'numeric',
	  											    month: '2-digit',
	  											    day: '2-digit'
	  											  }).format(date).replace(/\//g, '-');
	  				        window.location.href = '/calendar?showingDate=' + data;
	  				      }
					    }
					  },
					  headerToolbar: {
					    right: 'customPrev,customNext',
					    center: 'title',
						left:''
					  },
					
					eventClick: function(info) {
					               // Java側から渡した "id" を取得
					               const eventId = info.event.id;
					               // IDをパラメータに付けてJava側へ画面遷移
								   var date = /*[[${showingDate}]]*/'';
					               window.location.href = '/calendar?showingDate='+date + '&selectedDate=' + info.event.startStr + '&id=' + eventId;
					},
					
				   	dateClick: function(info) {
									var date = /*[[${showingDate}]]*/'';
	   					          window.location.href = '/calendar?showingDate='+date+ '&selectedDate=' + info.dateStr ;
					},
								  
					});
				calendar.render();
			});
			
			var yearMonth = $("#fc-dom-1").text(); 
			alert(yearMonth);
		</script>
		
		
	</div>
	
	<div id="layout03">
		<div>[[${selectedDate}]]</div>
		
		<br>
		
		<div th:if="${selectedItem}">
			[[${selectedItem.itemName}]]
			<br>
			[[${selectedItem.price}]]
			<br>
			[[${selectedItem.genre.genreName}]]
			<br>
			[[${selectedItem.comment}]]
			
			<form th:action = "@{/items/{itemId}/edit(itemId=${selectedItem.id})}" method ="get">
				<button>更新</button>
			</form>
			
			<form th:action = "@{/items/{itemId}/delete(itemId=${selectedItem.id})}" method ="post">
				<button>削除</button>
			</form>
			
		</div>
	
		<a th:href="@{/items/add(selectedDate=${selectedDate})}">新規作成</a>
			
	</div>
	
	<div id="layout04">
		[[${targetMonth}]]月の収支：[[${allIncomeAndExpensesInThisMonth}]]
	</div>
	
	

</body>

</html>
