<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>項目一覧</title>
</head>

<body>

	<a href="/items">全項目</a>
	<a th:each="genre:${genres}"
       th:href="@{/items(genreId=${genre.id})}" 
       th:text="${genre.genreName}"
       style="margin-right: 5px;"></a>

	<table border="1">
		<tr>
			<th>日付</th>
			<th>名前</th>
			<th>ジャンル</th>
			<th>金額</th>
			<th>コメント</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="item:${items}">
			<td th:text="${item.addDate}"></td>
			<td th:text="${item.itemName}"></td>
			<td th:text="${item.genre.genreName}"></td>
			<td>[[${item.genre.getSign()}]][[${item.price}]]</td>
			<td th:text="${item.comment}"></td>
			<td>
				<form th:action = "@{/items/{itemId}/edit(itemId=${item.id})}" method ="get">
					<button>更新</button>
				</form>
			</td>
			<td>
				<form th:action = "@{/items/{itemId}/delete(itemId=${item.id})}" method ="post">
					<button>削除</button>
				</form>
			</td>
		</tr>
	</table>
	
	<a href="/items/add">新規登録</a>

</body>

</html>